<script type="text/javascript" charset="utf-8">
  window.onload = function() {
         Sortable.create('issue_checklist_items',{tag:'li'});
  };
  
  var checkListFieldCount = 0;

  function addCheckListField(input) {
  	if (checkListFieldCount >= 30) return false;
  	checkListFieldCount++;
  	value = input.value
  	input.value = '';
  	
  	var cb = document.createElement("input");
  	cb.type = "checkbox";
  	cb.id = "id";
  	cb.name = "done_checklist_items[]";
  	cb.value = value;
  	cb.onclick =  function(event) { 
  	                  li = Element.up(this, "li");
  	                  if (this.checked == true) {
              	        li.addClassName('is-done-checklist-item');
            	        }
            	        else {
            	          li.removeClassName('is-done-checklist-item');
            	        }
            	    }; 

  	var lb = document.createElement("label");
  	lb.innerHTML = value;

    var is_done = document.createElement("input");
    is_done.type = "hidden";
  	is_done.name = "check_list_items[]";
  	is_done.value = value;
  	
  	delete_link = document.createElement('a'); 
    delete_link.setAttribute('class', 'delete'); 
    delete_link.setAttribute('title', '<%= l(:button_delete) %>'); 
    delete_link.setAttribute('href', '#');
    delete_link.innerHTML = '<%= image_tag('delete.png') %>';
  	delete_link.onclick =  function(event) { Element.up(this, "li").remove(); return false; };
    

  	p = document.getElementById("issue_checklist_items");
  	p = p.appendChild(document.createElement("li"));
  	p.appendChild(cb);
  	p.appendChild(lb);
  	p.appendChild(is_done);
  	p.appendChild(delete_link);
  	Sortable.create('issue_checklist_items',{tag:'li'});
  }
</script>

<style type="text/css" media="screen">

  div#issue_checklist ul {
  	list-style: none;    
  	padding-left: 0px;
  	margin-bottom: 0px;
  }

  div#issue_checklist li {
    padding-bottom: 10px;
    margin-left: 10px;
  }
  
  #issue_checklist_items li label {
    margin-left: 5px;
  }
  
  #issue_checklist_items li.is-done-checklist-item {
    text-decoration: line-through; 
    color: #999;
  }
  
  #issue_checklist a.delete img {
    vertical-align: top;
    margin-left: 5px;
  }
  
  #issue_checklist li:hover a.delete {opacity: 1;}  
  #issue_checklist a.delete {opacity: 0.4;}
  
</style>

<hr />
<div id="issue_checklist">
  <div class="contextual">
  <% if User.current.allowed_to?(:edit_issues, @project) %>
    <%= toggle_link l(:button_add), 'new-checklist-form' %>
  <% end %>
  </div>
  <p><strong><%=l(:label_issue_checklist_plural)%></strong></p>
  
  <% remote_form_for(:relation, @relation, 
                   :url => {:controller => 'issue_checklists', :action => 'new', :issue_id => @issue},
                   :method => :post,
                   :complete => "Form.Element.focus('relation_issue_to_id');",
                   :html => {:id => 'new-checklist-form', :style => (@relation ? '' : 'display: none;')}) do |f| %>
                   
      <ul id="issue_checklist_items">
   		</ul> 
   		<%= text_field_tag 'new_checklist', '', :size => 60, :maxlength => "100",
   		    :onkeydown => 'if (event.keyCode == 13) {addCheckListField(this); return false;}'%>   
   		    <br/>       
   		    <%= submit_tag l(:button_add) %>
          <%= toggle_link l(:button_cancel), 'new-checklist-form'%>    
                   
  <% end %>

</div>

<% content_for :header_tags do %>
	<%= javascript_include_tag :issue_checklists, :plugin => 'redmine_issue_checklist'  %>
<% end %>